/* COLORS */
html, body, div, span, applet, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

.color-stripe {
  height: 50px;
  width: 100%; }

#white {
  background-color: white; }

#salmon {
  background-color: #f05541; }

#black {
  background-color: #2d2b29; }

#gray {
  background-color: #968f87; }

#gray2 {
  background-color: #3a3836; }

#brick {
  background-color: #c25541; }

#blue {
  background-color: #2b333a; }
