/* COLORS */
/* BACKGROUNDS */
/* LENGTH, PADDING, & MARGIN */
/* CONTAINER SHADOW */
html, body, div, span, applet, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

html {
  background: #2d2b29; }

body {
  background: #2d2b29;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100; }

.bg_container {
  background: #2d2b29;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 1400px;
  padding: 0;
  margin: 0;
  overflow: hidden; }

.bg_container .content {
  width: 1000px;
  height: 100%;
  margin: 10px auto;
  text-align: center; }

#top-right-banner {
  position: absolute;
  width: 239px;
  height: 235px;
  right: 0;
  top: 0;
  background: url("/images/top-right-banner.png"); }

#top {
  background: url("/images/MotleeSplash-Header.png") no-repeat black;
  height: 600px;
  width: 1400px;
  margin: 0px auto; }

#screenshot_container {
  position: relative;
  width: 208px;
  height: 312px;
  background: transparent;
  left: 854px;
  top: 144px; }

.rotating-item {
  position: absolute;
  top: 0;
  left: 0;
  display: none; }

#phone {
  position: absolute; }

#logo {
  width: 300px;
  text-align: center;
  margin: 110px auto 40px auto; }

#tagline {
  width: 100%;
  font-size: 50px;
  line-height: 50px;
  color: #2b333a;
  font-weight: 400;
  text-shadow: -1px 0px 3px #555555; }

#divider-bar {
  position: fixed;
  background: url("/images/divider-bar.png");
  height: 21px;
  width: 100%;
  border-top: 1px solid #333;
  border-bottom: 1px solid #111; }

#bottom {
  top: 600px;
  background: url("/images/LP-BG-Bottom.png");
  width: 100%;
  border-bottom: 2px solid #000; }

#info {
  padding: 40px;
  font-size: 36px;
  line-height: 36px;
  color: #AAA;
  text-align: center; }

#interest-form {
  text-align: center;
  padding: 30px; }

#interest-form span {
  font-size: 17px;
  color: #AAA; }

#interest-form form input {
  line-height: 26px;
  height: 26px;
  font-size: 20px;
  margin-top: 7px;
  background-color: #EEE; }

h1, h2, h3, h4, h5, h6 {
  color: #3a3836; }

h1 {
  font-size: 40px;
  color: #2b333a; }

.subtext {
  font-size: 80%;
  color: #54524f; }

.compressor {
  width: 1023px;
  margin: 0 auto; }

.comment {
  margin: 15px;
  padding: 10px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #DDD;
  border: 1px solid #DDD; }

.salmon {
  color: #f05541; }
