/* COLORS */
/* BACKGROUNDS */
/* LENGTH, PADDING, & MARGIN */
/* CONTAINER SHADOW */
html, body, div, span, applet, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

html, body {
  min-height: 100%;
}

body {
  background: #000;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100; }

.bg_container {
  background: url("/images/satinweave.png");
  min-width: 1400px;
  min-height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden; }

.bg_container .content {
  max-width: 1020px;
  height: 100%;
  margin: 10px auto;
  text-align: left; 
  }

#top-right-banner {
  position: absolute;
  width: 239px;
  height: 235px;
  right: 0;
  top: 0;
  background: url("/images/top-right-banner.png"); 
}

dropdown{color:#333;text-shadow:0 1px 0 rgba(255,255,255,0.1);font-weight:normal}.dropdown,.dropdown a,.dropdown a:link,.dropdown a:active{color:#666;text-decoration:none}.dropdown a:hover{color:#444}.dropdown a:active{color:#111}.dropdown li.negative,.dropdown li.negative a,.dropdown li.negative a:active{color:#c00}.dropdown li strong{text-align:center;font-weight:bold;text-transform:uppercase;font-size:10px;line-height:15px;color:#aaa}

.dropdown{right:1px;top:38px}.account-state .dropdown a{padding-right:18px;-webkit-tap-highlight-color:rgba(0,0,0,0)}.account-state .dropdown i{top:0;left:auto;right:13px;height:10px;width:13px;background:url(../../images/shared/dropdown-arrow.png) no-repeat 0 0}.account-state .dropdown ul{min-width:250px}.dropdown{position:absolute;right:10px;top:60px;z-index:9999;margin:-10px 0 0;padding:10px 0 0;pointer-events:none;-webkit-transition:opacity 0.2s ease-out, margin 0.2s ease-out;-moz-transition:opacity 0.2s ease-out, margin 0.2s ease-out;-o-transition:opacity 0.2s ease-out, margin 0.2s ease-out;transition:opacity 0.2s ease-out, margin 0.2s ease-out;opacity:0}html.android .dropdown,html.no-csstransitions .dropdown,html.msie .dropdown,html.opera .dropdown{display:none}.dropdown ul.dropdownOptionList,.dropdown ul{background:#eee;background-color:rgba(255,255,255,1.0);-webkit-border-radius:3px;border-radius:3px;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.95), 0 1px 8px rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0,.08);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.95), 0 1px 8px rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0,.08);box-shadow:inset 0 1px 0 rgba(255,255,255,0.95), 0 1px 8px rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0,.08);min-width:100px;padding:1px 3px;margin:0;list-style:none}.dropdown li{padding:5px 0 5px;margin:0;border-top:1px solid #eee;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.95);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.95);box-shadow:inset 0 1px 0 rgba(255,255,255,0.95)}.dropdown li:first-child{border-top:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.dropdown li a{display:block;padding:4px 8px 4px 8px;margin:-3px 0px -3px;border:1px solid transparent;-webkit-border-radius:2px;border-radius:2px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.dropdown li a:hover.dropdownLinkHover,.dropdown li a:hover{border:1px solid #eee;background:#ddd;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.9);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.9);box-shadow:inset 0 1px 0 rgba(255,255,255,0.9)}html.touch .dropdown li a:hover,.dropdown li a:active{border:1px solid #ddd;border-top-color:#d6d6d6;background:#eaeaea;-webkit-box-shadow:inset 0 0 3px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,0.9);-moz-box-shadow:inset 0 0 3px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,0.9);box-shadow:inset 0 0 3px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,0.9)}.dropdown li>strong{display:block;margin-bottom:-5px;padding-bottom:5px;border-bottom:1px solid #ddd}.dropdown i{position:absolute;left:10px;right:auto;top:0;height:10px;width:13px;z-index:10;background:url(../../images/shared/glyph-assets.png) no-repeat -1px -800px}.dropdown i.right{left:auto;right:10px}.dropdown-inverted{margin:0 0 -10px;padding:0 0 5px;top:auto;bottom:0}.dropdown-inverted i{background-position:-1px -701px}.dropdown-open .dropdown{margin:0;opacity:0.99;pointer-events:all}html.android .dropdown-open .dropdown,html.no-csstransitions .dropdown-open .dropdown,html.msie .dropdown-open .dropdown,html.opera .dropdown-open .dropdown{display:block}.alerts{margin-bottom:20px}.alert-red,.alert-blue,.alert-green{padding:11px 12px 9px;-webkit-border-radius:4px;border-radius:4px;margin-bottom:10px;border:solid 1px;min-height:0}.alert-red{color:#b94a5c;background-color:#f2dede;border-color:#eed3d7}.alert-blue{color:#3a87ad;background-color:#d9edf7;border-color:#bce8f1}

.navigation_bar
{
    position: relative;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #222;
    background: rgb(42, 42, 42); /* no rgba support */ 
    background: rgba(42, 42, 42, 0.95);    
}

.navigation_bar .logo {
    background: url("/images/logoWeb.png") no-repeat 0 4px;
    text-indent: -9999em;
    width: 92px;
    position: absolute;
    top: 15px;
    margin: 0;
    left: 50%;
    margin-left: -46px !important;
}

.navigation_bar .logo a {
    display: block;
    height: 100%;
    width: 100%;
}

.navigation_bar a {
    text-decoration: none;
}

.navigation_bar .navigation_bar_choker {
    position: relative;
    width: 1006px;
    margin: 0 auto;
}

.navigation_bar_right
{
    position: absolute;
    top: 0;
    right: 0;
}

.navigation_bar_actions
{
  float: right;
  display: inline;
  margin: 0;
  padding: 0;
  border-right: 1px solid #5786aa;
  border-right-color: rgba(255,255,255,0.1);
  border-left: 1px solid #06365f;
  border-left-color: rgba(0,0,0,0.1);
}

#link_profile a strong#username {
    color: #FFF;
}

.navigation_bar_actions > li {
    position: relative;
    float: left;
    display: inline;
    margin: 0;
}

.navigation_bar_actions > li .img-outset {
    float: left;
    display: inline;
    margin: -2px 10px 1px -1px;
}

span.img-outset {
-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.2);
-moz-box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.2);
box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.2);
}

.img-outset {
-webkit-border-radius: 3px;
border-radius: 3px;
background: no-repeat 0 0;
-webkit-background-size: 100%;
background-size: 100%;
}

.img, .img-outset, .img-inset {
    position: relative;
}

.img-outset, .img-inset {
-webkit-border-radius: 3px;
border-radius: 3px;
background: no-repeat 0 0;
-webkit-background-size: 100%;
background-size: 100%;
}

.img b, .img-outset b, .img-inset b {
position: absolute;
top: 0;
left: 0;
display: block;
width: 100%;
height: 100%;
}

.img-outset b, .img-inset b {
-webkit-border-radius: 2px;
border-radius: 2px;
}

span.img-outset b {
-webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,.1), inset 0 1px 0 rgba(255,255,255,.3);
-moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,.1), inset 0 1px 0 rgba(255,255,255,.3);
box-shadow: inset 0 0 0 1px rgba(255,255,255,.1), inset 0 1px 0 rgba(255,255,255,.3);
}

#appbadges {
    margin-left: 270px;
}

.navigation_bar_actions > li:hover {
    background-color: #222;
}

.navigation_bar_actions > li > a {
    position: relative;
    display: block;
    height: 20px;
    padding: 19px 11px 21px 12px;
    border-right: 1px solid #06365f;
    border-right-color: rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 1px 0 0 rgba(255,255,255,.1);
    -moz-box-shadow: inset 1px 0 0 rgba(255,255,255,.1);
    box-shadow: inset 1px 0 0 rgba(255,255,255,.1);
    text-shadow: 0 1px 0 rgba(3,27,47,0.5);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.navigation_bar_actions > li img {
width: 24px;
height: 24px;
visibility: hidden;
}

.navigation_bar_actions > li strong {
    font-weight: normal !important;
    font-size: 12px;
}

.container_guy {
  margin: 50px 0;
  padding: 0;
}

.container_inset {
  min-width: 320px;
  max-width: 1020px;
  min-height: 800px;
  margin: 0 auto;
}

.event_info_container
{
    position: absolute;
    min-width: 320px;
    width: 100%;
    margin: 0 auto 10px auto;
    text-align: center;
    border-top-color: rgba(255,255,255,0.1);
    z-index: 1000;
}

.event_info {
    margin: 0;
    padding: 0;
    list-style: none;
}

.event_info > li {
    background-color: #3A3836;
    position: relative;
    min-height: 44px;
    line-height: 44px;
    border-top: 1px solid #5786aa;
    border-top-color: rgba(255,255,255,0.1);
    border-bottom: 1px solid #06365f;
    border-bottom-color: rgba(0,0,0,0.1);
    color: #FFF;
    width: 300px;
    margin: 0 auto;
}

.event_info > li:first-child
{
    width: 100%;
    border-top: none;
}

.event_info > li:last-child
{
    line-height: 16px;
}

.event_info > li.topitem:hover {
    cursor: pointer;
}

.event_info > li.subitem {
    display: none;
}

.event_info span.subtle-text {
    font-size: 10px;
    color: #555;
    position: absolute;
    left: 110px;
    top: -16px;
}

.event_thumbnails
{
    float: left;
    margin: 0;
    padding: 0;
}

.event_thumbnails .event_photo {
    float: left;
    background: url("/images/polaroid.png");
    width: 300px;
    padding: 10px;
    margin: 10px;
    -moz-box-shadow: 0 0 10px #BBB;
    -webkit-box-shadow: 0 0 10px #BBB;
    box-shadow: 0 0 10px #BBB;
}

.event_thumbnails .event_photo img {
    cursor: pointer;
}

.event_thumbnails .event_photo .event_photo_taker {
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.event_thumbnails span {
    position: absolute;
    line-height: 20px;
    margin-left: 5px;
    margin-top: 5px;
    color: #CCC;
    font-size: 14px;
    font-weight: normal;
}

.event_thumbnails span.photo_likes {
    margin-top: 25px;
    color: #555;
}

.event_thumbnails img {
    width: 300px;
    height: 300px;
}

.big_photo
{
    width: 800px;
    height: 800px;
    margin: 20px auto;
}

#one, #two, #three, #four {
    position: absolute;
    top: -100px;
    left: 0;
}

#splash_container
{
    position: relative;
    background-color: #FFFFFF;
    width: 100%;
}

#share {
    background-color: #2A2A2A;
    padding-top: 30px;
    height: 520px;
}

.splashtext {
    width: 500px;
}

.splashtext h1 {
    font-size: 48px;
    padding-bottom: 30px;
}

.splashtext p {
    font-size: 30px;
    padding-bottom: 40px;
}

#share .splashtext h1, #share .splashtext p {
    color: #FFFFFF;
}

#share .splashtext, #splash_bottom .splashtext {
    position: absolute;
    left: 660px;
    top: 140px;
}

#share img {
    position: relative;
    bottom: 0;
    left: 100px;
}

#splash_middle {
    position: relative;
    height: 350px;
    padding: 80px 0;
}

#splash_cellar {
    position: relative;
    height: 450px;
    padding: 80px 0;
}

#splash_middle img {
    position: absolute;
    right: 100px;
}

#splash_cellar img {
    position: absolute;
    right: 140px;
}

#splash_middle .splashtext h1, #splash_middle .splashtext p, #splash_bottom .splashtext h1, #splash_bottom .splashtext p, #splash_cellar .splashtext h1, #splash_cellar .splashtext p {
    color: #3A3836;
}

#splash_middle .splashtext, #splash_cellar .splashtext {
    position: absolute;
    left: 200px;
    top: 140px;
}

#splash_bottom {
    position: relative;
    background-color: #EEEEEE;
    padding: 20px;
}

#splash_bottom img {
    position: relative;
    left: 240px;
}

#splash_download {
    position: relative;
    background: #F05541;
    text-align: center;
    padding: 100px 0;
}

#splash_download .splashtext h1, #splash_download .splashtext p {
    text-align: center;
    color: #FFFFFF;
}

#splash_download .splashtext {
    margin: 0 auto;
}

.stickynav {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: #FFF;
    z-index: 9999;
    border-bottom: 1px solid #EEE;
}

.stickynav ul {
    list-style: none;
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

.stickynav ul > li {
    position: relative;
    float: left;
    width: 200px;
    line-height: 90px;
}

.stickynav ul > li a {
    font-size: 17px;
    color: #2A2A2A;
}

.stickynav ul > li a:hover {
    color: #999;
}

.stickynav ul > li span.bullet {
    position: absolute;
    top: 26px;
    left: 92px;
    font-size: 40px;
    height: 0;
    color: #F05541;
    display: none;
}

#footer {
    min-height: 300px;
    background-color: #2A2A2A;
    width: 100%;
}

.rotating-item {
  position: absolute;
  top: 0;
  left: 0;
  display: none; }

.slideshow-item {
    position: absolute;
    display: none;
}

#phone {
  position: absolute; }

#logo {
  width: 300px;
  text-align: center;
  margin: 110px auto 40px auto; }

#tagline {
  width: 100%;
  font-size: 50px;
  line-height: 50px;
  color: #2b333a;
  font-weight: 400;
  text-shadow: -1px 0px 3px #555555; }

#divider-bar {
  position: fixed;
  background: url("/images/divider-bar.png");
  height: 21px;
  width: 100%;
  border-top: 1px solid #333;
  border-bottom: 1px solid #111; }

#bottom {
  top: 620px;
  background: url("/images/LP-BG-Bottom.png");
  width: 100%;
  border-bottom: 2px solid #000; }

.photoViewer {
    display: none;
    z-index: 9999;
    position: fixed;
    top: 0;
    min-height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
}

#hidePhotoButton {
    position: absolute;
    right: -7px;
    top: -7px;
    cursor: pointer;
}

.bigPhotoContainer {
    position: relative;
    width: 500px;
    height: 500px;
    background: #FFF;
    padding: 10px;
    margin: 0 auto;
}

.bigPhoto {
    width: 500px;
    height: 500px;
}

.salmon_bar {
  height: 4px;
  width: 100%;
  background-color: #C25541;
  border-top: 1px solid #333;
  border-bottom: 1px solid #FFF;
}

#stats_container
{
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    box-shadow: 5px 5px 5px #eee;
    -moz-box-shadow: 5px 5px 5px #eee;
    -webkit-box-shadow: 5px 5px 5px #eee;
}

#info {
  padding: 40px;
  font-size: 36px;
  line-height: 36px;
  color: #AAA;
  text-align: center; }

#interest-form {
  padding: 30px; 
  text-align: center;
}

#interest-form span {
  text-align: center;
  font-size: 17px;
  color: #AAA; }

#interest-form form input {
  line-height: 26px;
  height: 26px;
  font-size: 20px;
  margin-top: 7px;
  margin-bottom: 10px;
  padding: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: none;
  background-color: #EEE; }

.btn {
display: inline-block;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
font-weight: bold;
color: white;
text-decoration: none;
white-space: nowrap;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
border: none;
cursor: pointer;
}

.btn.btn-primary {
background-color: #f05541;
text-shadow: 0 -1px #C98B20;
font-weight: normal;
}

.btn.btn-blue {
background-color: #C25541;
text-shadow: 0 -1px #C98B20;
font-weight: normal;
border: 1px solid #555;
}

.btn.btn-large {
padding: 8px 20px 8px 22px;
font-size: 30px;
}

.btn:hover {
background-color: #f05541;
}

.btn.btn-blue:hover {
background-color: #777;
}

h1, h2, h3, h4, h5, h6 {
  color: #3a3836; }

h1 {
  font-size: 40px;
  color: #2b333a; }

.subtext {
  font-size: 80%;
  color: #54524f; }

.compressor {
  width: 1023px;
  margin: 0 auto; }

.comment {
  margin: 15px;
  padding: 10px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #DDD;
  border: 1px solid #DDD; }

.salmon {
  color: #f05541; }
