<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<div class="nav-collapse collapse">
				<a class="brand" href="#">motlee</a>
				<ul class="nav">
					<li><a href="#">Download The App!</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="container" style="margin-top: 60px;">
	<h1><%= @user.name %></h1>
        <%= image_tag @user.picture %>
	<ul class="thumbnails">
		<% @photos.each do |photo| %>
			<li class="span3">
			<a href="#" class="thumbnail">
				<%= image_tag photo.image.url(:compressed) %>
			</a>
			</li>
		<% end %>
	</ul>
</div>
