<div class="container">
    <div class="well" style="text-align: center; margin-top: 40px; background: #AAAAAA;">
        <h1>Thanks for your interest!</h1>
        <h2>we will notify you once the app is in the store</h2>
        <br>
        <a class="btn btn-large btn-inverse" href="/">Back to Motlee Home</a>
    </div>
</div>
