<div class="container_guy">
    <div class="container_inset">
        <div class="event_thumbnails" style="text-align:center;">
            <% @events.each do |event| %>
                <% @photos = event.photos.limit(1) %>
                    <% @photos.each do |photo| %>
                        <div class="event_photo" id="event_photo_<%= photo.id %>">
                        <a href="/events/<%= event.id %>">
                            <%= image_tag photo.image.url(:thumbnail) %>
                        </a>
                        <h2><%= photo.event.name %></h2>
                        </div>
                    <% end %>
            <% end %>
        </div>
    </div>
</div>
