<% content_for :head do %>
  <meta property="og:type"        content="motleeapp:event" /> 
  <meta property="og:url"         content="http://www.motleeapp.com/events/<%= @event.id %>" /> 
  <meta property="og:title"       content="<%= @event.name %>" /> 
  <meta property="og:image"       content="http://sphotos-a.xx.fbcdn.net/hphotos-ash4/417107_306342359470634_1693223354_n.png" /> 
  <meta property="og:description" content="Check out the pics from this event" /> 
<% end %>

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<div class="nav-collapse collapse">
				<a class="brand" href="#">motlee</a>
				<ul class="nav">
					<li><a href="#">Download The App!</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="container" style="margin-top: 60px;">
	<h1><%= @event.name %></h1>
	<ul class="thumbnails">
		<% @photos.each do |photo| %>
			<li class="span3">
			<a href="#" class="thumbnail">
				<%= image_tag photo.image.url(:compressed) %>
			</a>
			</li>
		<% end %>
	</ul>
</div>
