<div class="color-stripe" id="white">
    <h1>Motlee - Color Palette</h1>
</div>
<div class="color-stripe" id="gray"></div>
<div class="color-stripe" id="black"></div>
<div class="color-stripe" id="gray2"></div>
<div class="color-stripe" id="salmon"></div>
<div class="color-stripe" id="brick"></div>
<div class="color-stripe" id="blue"></div>
