<% content_for :head do %>
<head>
<% end %>

<div id="splash_container">
    <div id="share">
        <img src="/images/MotleeWeb1.png"/>
        <div class="splashtext">
            <h1>share. together.</h1>
            <p>Motlee makes it easy for groups of friends to share photos at events.</p>
            <a class="btn btn-large btn-primary">Download Motlee!</a>
        </div>
    </div>
    <div class="stickynav">
        <ul>
            <li><a href="#one" onclick="makeActive('one')">SHARE</a><br/><span id="bullet-one" class="bullet">&bull;</span></li>
            <li><a href="#two" onclick="makeActive('two')">DISCOVER</a><br/><span id="bullet-two" class="bullet">&bull;</span></li>
            <li><a href="#three" onclick="makeActive('three')">REMEMBER</a><br/><span id="bullet-three" class="bullet">&bull;</span></li>
            <li><a href="#four" onclick="makeActive('four')">Get the app!</a><br/><span id="bullet-four" class="bullet">&bull;</span></li>
        </ul>   
    </div>
    <div id="splash_middle">
        <div id="one"></div>
        <div class="splashtext">
            <h1>share with friends.</h1>
            <p>When you create an event and invite your friends, everybody's photos go into a single place.</p>
        </div>
        <img src="/images/MotleeWeb2.png"/>
    </div>
    <div id="splash_bottom">
        <div id="two"></div>
        <img src="/images/MotleeWeb3.png"/> 
        <div class="splashtext">
            <h1>discover your city.</h1>
            <p>Public events are displayed on a map, so you can see all of the interesting things happening nearby with the people and places you care about.</p>
        </div>
    </div>
    <div id="splash_cellar">
        <div id="three"></div>
        <div class="splashtext">
            <h1>keep memories.</h1>
            <p>After the event is over, you and your friends' photos will always be available on your phone and online.</p>
        </div>
        <img src="/images/MotleeWeb4.png"/>
    </div>
    <div id="splash_download">
        <div id="four"></div>
        <div class="splashtext">
            <h1>whatcha waitin' for?</h1>
            <p>Download the app and join our sharing revolution!</p>
            <a class="btn btn-large btn-blue" href="https://itunes.apple.com/app/motlee/id598056592?mt=8" target="_blank">iPhone</a> <span style="color:#BBB; font-size:20px; padding:0 20px;"> & </span>
            <a class="btn btn-large btn-blue" href="https://play.google.com/store/apps/details?id=com.motlee.android" target="_blank">Android</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    function makeActive(link) {
        if (link == "one") {
            $("#splash_middle").hide();
            $("#splash_middle").fadeIn(1000);
        } else if (link == "two") {
            $("#splash_bottom").hide();
            $("#splash_bottom").fadeIn(1000);
        } else if (link == "three") {
            $("#splash_cellar").hide();
            $("#splash_cellar").fadeIn(1000);
        } else {
            $("#splash_download").hide();
            $("#splash_download").fadeIn(1000);
        }
    }
</script>
