<% content_for :head do %>
<head>
<% end %>

<div id="splash_container">
    <div id="share">
        <img src="/images/MotleeWeb1.png"/>
        <div class="splashtext">
            <h1>share. together.</h1>
            <p>Motlee is the best way to share memories with the people you care about most.</p>
            <a href="#splash_download" class="btn btn-large btn-primary">Download Motlee!</a>
        </div>
    </div>
    <div id="splash_middle">
        <div class="splashtext">
            <h1>share with friends.</h1>
            <p>When you create a thread and invite your friends, everybody's photos go to a single place.</p>
        </div>
        <img src="/images/MotleeWeb2.png"/>
    </div>
    <div id="splash_bottom">
        <img src="/images/MotleeWeb3.png"/> 
        <div class="splashtext">
            <h1>discover your city.</h1>
            <p>Public threads are displayed on a map, so you can see all of the interesting things happening nearby with the people and places you care about.</p>
        </div>
    </div>
    <div id="splash_cellar">
        <div class="splashtext">
            <h1>remember everything.</h1>
            <p>Threads are available on your phone & online via a dedicated URL. Gone are the days of emailing photos to friends after the fact.</p>
        </div>
        <img src="/images/MotleeWeb4.png"/>
    </div>
    <div id="splash_download">
        <div class="splashtext">
            <h1>get the app</h1>
            <p>Motlee is available for both...</p>
            <a class="btn btn-large btn-blue" href="https://itunes.apple.com/app/motlee/id598056592?mt=8" target="_blank">iPhone</a> <span style="color:#DDD; font-size:20px; padding:0 20px;"> & </span>
            <a class="btn btn-large btn-blue" href="https://play.google.com/store/apps/details?id=com.motlee.android" target="_blank">Android</a>
        </div>
    </div>
</div>
