<div id="top">
	<img id="phone" src="/images/iPhone.png"/>
	<div class="content">
		<img id="logo" src="/images/Motlee-Logo---White.png"/>
	</div>
</div>
<div id="bottom">
	<div class="content">
		<div id="info">
			<span class="salmon">Motlee</span> is an awesome way to capture live events<br />from the perspective of the group.
		</div>
		<div id="interest-form">
			<form class="form-inline" action="mailto:scottklieberman@gmail.com" method="post" enctype="text/plain">
				<input type="text" class="input-xlarge" placeholder="email@address.com">
				<button type="submit" class="btn btn-primary btn-large">Submit</button>
			</form>
			<span>
				Let us notify you when Motlee launches by entering your email above.
			</span>
		</div>
	</div>
</div>
