<% content_for :head do %>
<head>
<% end %>
<div id="top">
    <div id="screenshot_container">
        <img id="ss-1" class="rotating-item" src="/images/MyEvents_I4.png" width="208px" />
        <img id="ss-2" class="rotating-item" src="/images/Grid_I4.png" width="208px" />
        <img id="ss-3" class="rotating-item" src="/images/NearbyView_I4.png" width="208px" />
    </div>
</div>
<div id="bottom">
    <div class="content">
            <div id="interest-form">
                <%= form_for @leads, :url => {:controller => "leads", :action => "create"}, :class => "form-inline" do |f| %>
                    <%= f.text_field :email, :class => "input-xlarge", :placeholder => "email@example.com" %>
                    <button type="submit" class="btn btn-primary btn-large">Submit</button>
                <% end %>
                <span>
                    Let us notify you when Motlee launches by entering your email above!
                </span>
            </div>
    </div>
</div>
<script type="text/javascript">

    $(window).load(function() {

        var ScreenSlider =
        {
            init: function()
            {
                //initial fade-in time (in milliseconds)
                var initialFadeIn = 1000;
     
                //interval between items (in milliseconds)
                var itemInterval = 5000;
     
                //cross-fade time (in milliseconds)
                var fadeTime = 2500;
     
                //count number of items
                var numberOfItems = $('.rotating-item').length;
     
                //set current item
                var currentItem = 0;
     
                //show first item
                $('.rotating-item').eq(currentItem).fadeIn(initialFadeIn);
     
                //loop through the items
                var infiniteLoop = setInterval(function(){
                    $('.rotating-item').eq(currentItem).fadeOut(fadeTime);
     
                    if(currentItem == numberOfItems -1){
                        currentItem = 0;
                    }else{
                        currentItem++;
                    }
                    $('.rotating-item').eq(currentItem).fadeIn(fadeTime);
     
                }, itemInterval);
            }
        };
     
        ScreenSlider.init();
     
    });      
</script>
