<h1>Motlee Customer Support</h1>

<h2>How can we help you?</h2>

<ul>
    <li><a href="https://www.facebook.com/motleeapp" target="_blank">Message us on Facebook</a></li>
    <li><a href="https://twitter.com/motleesupport" target=_blank">Send us a Tweet @MotleeSupport</a></li>
    <li><a href="mailto:scott@motleeapp.com" target="_blank">Send us an email</a></li>
</ul>

